h1{
    color: rgb(69, 160, 69);
}

#bir{
    background-color: red;
}

#iki{
    background-color: lightgreen;
}

#uc{
    background-color: green;
}

#dord{
    background-color: rgb(100, 100, 238);
}

#bes{
    background-color: blue;
}